

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #081349;
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    justify-content: space-between;
    height: 50px;
}

.nav_links {
    display: flex;
    flex-direction: row;
}

.nav_links li {
    list-style: none;
    padding: 0 25px;
}

.nav_links li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.nav_links .nav_item::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #f2f2f2;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav_links .nav_item:hover::after {
    transform: scaleX(1);
}


.main {
    position: relative;
    width: 100%;
    background-color: #fff;
}

.main-sctn {
    position: relative;
    width: 100%;
    text-align: center;
}
.main-sctn img {
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0);
    clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0);
}

.over-grad {
    position: absolute;
    background: #081349;
    top: 0;
    bottom: 0;
    height: 99%;
    width: 100%;
    opacity: 0.6;
    -webkit-clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0);
    clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0 0);
}

.overlay {
  text-align: center;
  align-items: center;
}
.overlay-img {
    position: absolute;
    top: -10px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    right: 30%;
}

.overlay-img img {
    width: 80%;
    height: 50%;
    -webkit-clip-path: polygon(100% 38%, 100% 100%, 0 100%, 0% 38%);
    clip-path: polygon(100% 20%, 100% 100%, 10% 100%, 10% 20%);
}

.overlay-text {
    position: absolute;
    top: 290px;
    bottom: 0;
    right: 29%;
    align-items:center;
    justify-content: center;
}

.overlay-text h2 {
    color: #fff;
    align-items: center;
    text-align: center;
}

.btn-1 {
    margin-top: 80px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    border-style: none;
    color: #081349;
    background-color: #fff;
}

.btn-1:hover {
    background-color: #c6c5c5;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.about {
    position: relative;
    width: 100%;
    /*background-color: antiquewhite;*/
    background-color: #fff;
    text-align: center;
}

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.about-main img {
    padding: 0 64px;
}
.about-content {
    text-align: center;
}
.about-content h1 {
    padding: 50px 0 30px 0;    
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}

.about-content h3 {
    padding: 0 0 30px 0;
    font-size: 20px;
}
a{
  scroll-behavior: smooth;
}

.about-content p {
    padding:  0 0 10px 0;
    font-size: 17px;
    color: #081349;
}

.know-more {
    justify-content: center;
    /*background-color:aquamarine;*/
    background-color: #fff;
}

.know-more .btn-2 {
    margin: 10px 0 10px 30px;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 18px;
    border-style: none;
    background-color: #081349;
    color: #fff;
}

.services {
    position: relative;
    width: 100%;
}

.services-main {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 155vh;
    /*background-color: #721515;*/
    background-color: #fff;
    padding: 30px 0;
}

.container {
    position: relative;
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 80px;
    background-color: #fff;
}

.services-header{
  width: 100%;
  background-color: #081349;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Averia Serif Libre', cursive;
  font-weight: bold;
  padding: 15px 0;
}

.container .card {
    position: relative;
    justify-content: center;
    width: 350px;
   /* background-color: aqua;*/
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 15px 25px;
}

.container .card:hover {
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card .card-header h1{
    padding: 10px 0 15px 0;
}

.card .card-image img {
    border-radius: 20px;
    height: 300px;
    width: 100%;
}

.card .card-content p{
    padding: 15px 0 10px 0;
    color: #081349;
    font-size: 17px;
}


/* Events Section */

.clock{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px 0 40px 0;
}

.count-down{
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border: 5px dashed #081349;
  background-color: #d1d1d1;
  border-radius: 20px;

}

.count-down-text{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #081349;

}

.timer{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.timer div{
  width: 70px;
  height: 70px;
  background-color: #081349;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 20px;
}

.timer div p{
  font-size: 20px;
}

.timer div span{
  font-size: 14px;
}



/* Recent Section */

.recent{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 20px;
}

.recent-header{
  width: 100%;
  background-color: #081349;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Averia Serif Libre', cursive;
  font-weight: bold;
  padding: 15px 0;
}

.recent-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-frame{
  width: 1000px;
  height: 550px;
  background: url(images/image\ 9.png);
  background-position: center;
  border-radius: none;
  position: relative;
  color: whitesmoke;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 93%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 93%, 0 100%, 0 0);


}

.layer{
  height: 80px;
  width: 800px;
  padding: 20px 40px;
  position: absolute;
  left: 100px;
  bottom: 60px;
  color: white;
  background: #08134974;
  transition: 0.5s;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
}

.layer h2 {
  font-size: 40px;
}

.layer p {
  margin: 20px;  
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
}

.recent-frame:hover {
  cursor: pointer;
}

.recent-frame:hover .layer {
  height: 400px;
  opacity: 1;
}

.recent-frame:hover p {
  opacity: 1;
  visibility: visible;
  margin-top: 50px;
  font-size: 28px
}

/*
.recent-frame:hover .layer{
  height: 400px;
}

.layer h2{
}

.layer p{
  font-size: 14px;
}
*/


/*Our Partners*/


.ourPartners {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
    width: 100%;
    min-height: 50vh;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: #081349;
    font-family: 'Averia Serif Libre', cursive;
    color: #fafafa;
    font-weight: bold;
    font-size: 35px;
    padding: 15px 0;
}

.slider-track  {
	display: flex;
}

marquee {
	margin-top: 2%;
	display: flex;
	flex-direction: row;
}

.page .active {
	opacity: 1;
	pointer-events: auto;
}


/* Contact Us*/

.ContactUs {
    background-color: #fff;
    width: 100%;
    min-height: 80vh;
    color: #fafafa;
    font-family: 'Averia Serif Libre', cursive;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.Contact_main {
     position: relative; 
}

.wave {
  height: 100vh;
  padding-top: 50px;
  position: absolute;
}

.Contact_box {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 75vh;
  width: 80%;
  margin-left: 10%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Contact_box .left_box {
  background-color: #fff;
  height: 100%;
  width: 50%;
  text-align: center;
  justify-content: center;
  color: #081349;
  border-radius: 15px;
}

.Contact_box .right_box {
  background-color:#fff;
  height: 100%;
  width: 50%;
  border-radius: 15px;
  color: #081349;
  text-align: center;
}

.Contact_box .left_box h1 {
  padding: 50px 0 20px 0;
  font-size: 30px;
}

.Contact_box .left_box p {
  padding: 0 20px 40px 20px;
  font-size: 20px;
  width: 70%;
  margin-left: 15%;
}

.Contact_box .left_box img {
  position: relative;
  height: 50%;
  margin-bottom: 20px;
}

.right_box .bird {
  position: relative;
  height: 80%;
  margin-left: 65%;
  bottom: 50px;
}

.right_box .form_box {
  position: relative;
  background-color: #fff;
  height: 70%;
  width: 80%;
  margin-left: 10px;
  margin-top: -60%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  align-items: center;
  justify-content: center;
}

form input, form textarea {
  background-color: #efefef;
  outline: none;
  border: 0;
  border-radius: 5px;
  margin: 5px;
}

form textarea {
  max-height: 160px;
  min-height: 160px;
  min-width: 355px;
  max-width: 355px;
}

form .input-1 {
  margin-top: 20px;
  padding: 15px 150px 15px 10px;
}

form .input-2 {
  padding: 15px 150px 15px 10px;
}

form .txt-area {
  padding: 15px 50px 0 10px;
}

form .submit-btn {
  display: inline-block;
  background: #768fe9;
  color: #ffffff;
  border: 1px solid;
  padding: 10px 40px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 400;   
  transition: background 0.5s; 
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}

form .submit-btn:hover {
  background-color: #bcc9f5;
  color: #111111;
  border: 1px solid #bcc9f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*-------SOCIAL MEDIA-------*/

.social_media {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #181818;
  align-items: center;
  opacity: 1;
  justify-content: center;
}

.social_apps {
  display: flex;
  justify-content: center;
  padding: 30px 0 10px 0;
}

.social_apps i {
  padding: 0 20px;
  font-size: 40px;
  color: #fff;
}
/*-------FOOTER-------*/

footer{
  position: relative;
  width: 100%;
  height: 380px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: #181818;
  padding: 0 20px;
  align-items: center;
}

.map {
  width: 100%;
  height: 100%;
  padding: 60px 5% 20px 5%;
}

footer iframe {
  border-radius: 10px;
  width: 400px;
  height: 280px;
}

.footer-col{
  width: 100%;
  height: 100%;
  padding: 60px 0;
}

.footer-col ul{
  margin-top: 10px;
}

.footer-col ul li{
  list-style: none;
  margin-top: 15px;
}
 
.footer-col ul li a{
  color: #999999;
  text-decoration: none;
}

.inner-col {
  padding-bottom: 30px;
}

.inner-col p {
  color: #999999;
  padding-top: 5px;
}
.last-copy {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.last-copy h3 {
  padding: 7px;
  color: #999999;
  background-color: #111111;
}
